.form_container {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}
.svg_icon {
  width: 30px;
  height: 30px;
  stroke: var(--color-5);
}
.form_container > form {
  display: flex;
  flex-direction: column;
  gap: 25px;
  width: 90%;
}
.form_container > form > .input_wrapper {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.form_container > form > .input_wrapper > label {
  display: flex;
  border: 2px solid var(--color-4);
  border-radius: 10px;
  width: 100%;
}

.form_container > form > .input_wrapper > label > div {
  display: flex;
  padding: 5px;
}
.form_container > form > .input_wrapper > label:focus-within {
  border-color: var(--color-3);
}
.form_container > form > .input_wrapper > label > input {
  width: calc(100% - 40px);
  padding-inline-start: 10px;
  background-color: inherit;
  border: none;
  font-family: "iranSans";
  caret-color: var(--color-3);
  color: var(--color-6);

  &::placeholder {
    color: var(--color-5);
  }
  &:focus {
    outline: none;
  }
}
.auth_form_btn {
  width: 100%;
  height: 45px;
  background-color: var(--color-3);
  border-radius: 12px;
  border-color: transparent;
  cursor: pointer;
  color: var(--color-1);
  font-family: "iranSans";
}
.error {
  color: var(--color-7);
  margin-right: 8px;
}
.success {
  color: var(--color-8);
}
