/* product add */
.product-add {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
/* form */
.product-form {
  width: 50%;
  background-color: var(--color-2);
  direction: rtl;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.product-form-item {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.product-form-item input {
  width: 100%;
  height: 45px;
  background-color: transparent;
  border-radius: 8px;
  border: 1px solid var(--color-3);
  padding-inline-start: 10px;
  color: var(--color-6);
  outline: none;
}
.product-form-btn {
  width: 100%;
  height: 45px;
  background-color: var(--color-3);
  margin-top: 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
.product-add-form-img {
  width: 100%;
  aspect-ratio: 2/1;
  object-fit: cover;
  border-radius: 10px;
}
.product-form-item-error {
  font-size: 14px;
  color: var(--color-7);
}
.product-form-daynamic {
  display: flex;
  margin-bottom: 10px;
  gap: 8px;
  & button {
    border: 1px solid var(--color-7);
    border-radius: 5px;
    width: 50px;
    height: 45px;
    background-color: transparent;
    color: var(--color-7);
    cursor: pointer;
  }
}

.product-form-daynamic-item {
  display: flex;
  flex: 1;
  flex-direction: column;
  & input {
    width: 100%;
    height: 45px;
    background-color: transparent;
    border-radius: 8px;
    border: 1px solid var(--color-3);
    padding-inline-start: 10px;
    color: var(--color-6);
    outline: none;
  }
}
.product-form-item-btn {
  width: fit-content;
  padding-inline: 10px;
  height: 40px;
  background-color: transparent;
  border: 1px solid var(--color-11);
  color: var(--color-11);
  border-radius: 8px;
  cursor: pointer;
}
/* roles */
.product-roles {
  width: 50%;
  background-color: var(--color-2);
  height: fit-content;
}
.product-roles-inner {
  width: 100%;
  padding: 20px;
  line-height: 32px;
  direction: rtl;
  & p {
    font-size: 14px;
    text-align: justify;
  }
}

@media screen and (max-width: 768px) {
  .product-add {
    flex-direction: column;
  }
  .product-form,
  .product-roles {
    width: 100%;
  }
}
