@font-face {
  font-family: "iranSans";
  src: url(./assets/font/IRANSans.woff);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --color-1: #05050c;
  --color-2: #0f1021;
  --color-3: #42ade2;
  --color-4: #242534;
  --color-5: #6a6d9e;
  --color-6: #fff;
  --color-7: rgb(255, 0, 0);
  --color-8: rgb(0, 128, 0);
  --color-9: #afafaf;
  --color-10: #3498c6c9;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: var(--color-2);
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  font-family: "iranSans";
  overflow-x: hidden;
}
button,
input {
  font-family: "iranSans";
}
